.label {
	display: inline-block;
    text-align: left;
    line-height: 1em;
    margin: 0 0.15em;
    padding: 0.5em 0.8em;
    color: rgba(0,0,0,0.6);
    font-weight: 700;
    margin-left: 0;
	max-width: content;
}

.label.modern {
	background-color: green;
	padding: 0.25em 0.5em;
	fond-weight: 400;
}