.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	row-gap: 1em;
	column-gap: 0.5em;
}

.row {
	flex-direction: row;
}

.column {
	flex-direction: column;
}